.cnt-1 {
    background-color: #FF0000;
}

.cnt-2 {
    background-color: #FF7F00;
}

.cnt-3 {
    background-color: #FFFF00;
}

.cnt-4 {
    background-color: #00FF00;
}

.cnt-5 {
    background-color: #0000FF;
}

.cnt-6 {
    background-color: #4B0082;
}

.cnt-7 {
    background-color: #9400D3;
}